body{
    font-family: 'Red Rose', cursive;
    background-color: rgb(0, 0, 0);
    color: rgb(209, 0, 0);
}
.div1{
    height: 400px;
    width: 500px;
    background-color: purple;
    border: 20px ridge white;
    border-radius: 15px;
    padding: 60px 60px 60px 60px;
    margin: auto;
}
.p1{
    height 100px;
    width: 200px;
    background-color: blue;
    border-width: 2px;
    border-style: inset;
    border-color: yellow;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-left: 25px;
    margin: 5px auto;
}
