/* Google font permet de mettre des polices lu par la quasi totaliter des navigateurs*/




body{
    font-family: "Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
    background-color: chartreuse;
    color: red;
    font-size: 17px;
}
.div-para{
    color:blueviolet;
    background-color: crimson;
}
.span-test{
    color: darkblue;
    border: 1px solid black;
}
.A-lien{
    color: deeppink;
    background-color: green;
}
p{
    border: 1px solid black;
    display: inline-block;
}
.p1{
    width: auto;
}
.p2{
    width: 35%;
}