body{
    font-family: 'Red Rose', cursive;
}

.tab1{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 5px;
}
.img{
    padding: 10px;
    border: 1px solid green;
    box-shadow: 0px 0px 20px indigo;
}